.container,
.modal,
.goback,
.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal {
    min-height: 60vh;
    max-width: 90vw;
    position: relative;
    background-color: white;
    border-radius: 20px;
    border: solid 2px black;
    padding: 20px;
    z-index: 10;
    justify-content: space-between;
    overflow: hidden;

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-weight: 300;
    }

    h3[color="red"] {
        background-color: #ffcdd2;
    }

    h3[color="yellow"] {
        background-color: #fff9c4;
    }
}

.goback {
    max-width: 90vw;
    border: solid 3px #555;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    padding: 15px 70px;
    background-color: #eee;
    z-index: 5;
}

.results {
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.9rem;
    border-bottom: solid 1px #bbb;

    p {
        font-weight: bold;
        margin-left: 30px;
        font-size: 1rem;
    }
}

.resulttable {
    margin-top: 20px;

    button {
        color: red;
        font-weight: bold;
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-top: 20px;
        font-size: 0.8rem;

        &:hover {
            color: firebrick;
        }

        &:active {
            color: red;
            font-size: 0.7rem;
        }
    }
}

.current {
    h1 {
        border-radius: 20px;
    }

    button {
        margin-top: 10px;
    }
}
