.container,
.main,
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0 2rem;
  min-height: 100vh;
}

.main {
  flex: 1;
  padding: 0.2rem 2vw 2rem 2vw;
  justify-content: space-between;
  text-align: center;
  gap: 30px;

  h1 {
    font-size: 2rem;
    font-weight: bold;
  }

  h2{
    font-size: 1.3rem;
  }
}

.footer {
  padding: 1rem 0;
  margin-top: auto;
  border-top: 1px solid #ddd;
}
